* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  padding: 1rem;
  background-color: #eee;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  transition: all ease-in 0.1s;
}
button:hover {
  background-color: #ccc;
}